

#home{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)), url('../img/gty_231012_medical_records_database_800x450.avif');
 
}

 
  .underline{
    margin: 10px auto; 

  }
  
  #txt1{
    margin-top: 1.3cm;
    font-size: 140%;
    font-family: "Roboto", sans-serif;
    color: rgba(64, 64, 64, 1);
    text-align: center;

  }
  .txt2 ,.element2  {
    font-family:"Open Sans",Sans-serif ;
    font-size:140%;
    text-align: center;
    margin-top: 5cm;
    color: rgba(2, 1, 1, 1);
    
    }
    .element1-left,.element1-right{
      display: inline-block;
      vertical-align: top; 
      margin-top: 60px;

    }
    .element1-left {
          margin-right: 10%;
    }
    
        
    
  .element1{
    width: 100%;
    text-align: center;
    font-family:"Open Sans",Sans-serif ;
  }
  .element1-left img,.element1-right img{
    height: 250px;
    width: 450px;
    border-radius: 20px;
  }
  
  
  .element1 h3 {
    text-align: center;
    margin-top: 50px;
  }
  .element1 h5,.element2 h5{
    color: #696b6d;
    line-height: 1.8;
    font-size:90%;
  }


/* here*/
.extra {
  display: none;
  margin-top: 0px;
}
.dots{
  display: inline;
}
input[type="checkbox"] {
  display: block;
  appearance: none;
}

label {
  border-radius: 15px;
  position: relative;
  padding: 10px;
  font-family:"Roboto",Sans-serif ;
  margin-top: 0px;
  background-color: #F32144;
  color: white;
  cursor: pointer;
  
}
label:hover{
  background-color: #C91432;
}
label:before {
  content: "Read more";
}
input[type="checkbox"]:checked ~ label:before {
  content: "Read less";
}
/* here*/


.element2{
  margin-left: 9%;
}
.element2 h2{
  font-size:150%;
}
.underline2 {
  width: 90px; 
  height: 4px; 
  background-color: red; 
  margin: 10px auto; 
  border-radius: 5px;
  float: inline-start;
 }
.element2 img{
  float: right;
  margin-right: 9%;
  border-radius: 20px;
}

footer{
  
}



@media only screen and (max-width: 768px) {
  .txt2{
    margin-top: 18%;
  }
  .element1-left, .element1-right {
      display: block;
      width: 100%;
      text-align: center;
      margin: 10px auto;
      padding-top: 13%;
  }
.element1{
  margin-right: 0;
}
  
  
 
   .element2 img {
      width: 100%;
      height: auto;
  }
  
  label {
      margin-left: 0;
  }
  .element2{
    margin-top: 22%;
  }
}





@media only screen and (min-width: 1800px) {
  /* For laptop: */
  #txt1{
    margin-top: 1.3cm;
    font-size: 180%;
  }
  .element1-left {
     margin-right: 20%;
   }
   .element1{
    width: 100%;

   }
   .element1-left img ,.element1-right img {
    width: 750px;
    height: 450px;
   }
   .element1 h2 {
    text-align: center;
    margin-top: 50px;
  }
  .element1 h5,.element2 h5{
    
    line-height: 1.8;
    font-size:140%;
  }
  label{
    border-radius: 19px;
    padding: 14px 24px;
  }
  .element2{
    margin-left: 9%;
  }
  .element2 img{
    width: 677px;
    height: 677px;
    margin-right: 9%;
    border-radius: 20px;
  }

  

  }