#home{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.65)), url('../img/new-technology-may-help-detect-skin-cancer-at-early-stage.jpg');
    
   
  }
h3{
        font-family:"Open Sans",Sans-serif ;

}
.hero-title .underline{
    margin: 10px auto; 
}
.inline-block{
    margin-top: 50px;
    margin-left: 50px;
}
.inline-block h3 {
    display: inline-block;
    vertical-align: top; 
    margin-left: 30px;
}

.inline-block .underline {
    display: inline-block;
    margin-top: 30px;
    margin-left: 10px;
    width: 60px;
}
.inline-block p{
    font-family:"Open Sans",Sans-serif ;
    color: #696b6d;
    line-height: 1.8;
    font-size:120%;
    margin-left: 25px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chart-container {
    display: flex;
    margin: 20px;
    align-items: center;
}

.chart {
    border: 1px solid #ccc;
    padding: 10px;
    background: #f9f9f9;
}

.chart-description {
    margin-left: 20px;
    max-width: 200px;
    font-size: 14px;
}

.legend {
    font-size: 12px;
    font-family: sans-serif;
}



