<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizing Cancer</title>
    <link rel="stylesheet" href="../static/Analyse.css">
    <link rel="stylesheet" href="../../code/common-styles.css">
    <script src="../static/Analyse.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"  />
    <link rel="icon" type="image/x-icon" href="C:\Users\hp\OneDrive\Bureau\htlm othman\pfa\magnifying-glass-solid.svg">
</head>

<body>  
    <div id="home">
        <ul class="menu">
          <li><h1 id="VisualizingCancer"> Breast cancer <br> prediction  </h1>  </li> 
          <li class="bar" id="bar1"><a href="../../code/index.html"><h3>Home </i></h3></a></li>
          <li class="bar" id="bar2"><a href="../../code/Visualisation.html"><h3>Visualisation </h3></a></li>
          <li class="bar" id="bar3"><a href="../../ML DEPLOY SECOND ATTEMPT/templates/Analyse.html"><h3>Analyse </h3></a></li>
          <li class="bar" id="bar4"><a href="../../code/contact.html"><h3>Contact </h3></a></li>
          <li class="bar" id="bar5"><a href="../../code/add_analysis.html"><h3>Add Analysis</h3></a></li>

        </ul>
        <div class="hero-title">
          <h1>
            ANALYSE 
          </h1>
          <div class="underline"></div>
          <h3 class="under-hero-title">
            Breast Cancer Analysis
          </h3> 
        </div>
      </div>

      <form action="{{ url_for('predict')}}" method="post" id="analysisForm">
        <div class="form-group">
            <label for="radius_mean">Radius Mean:</label>
            <input type="text" id="radius_mean" name="radius_mean" placeholder="Radius Mean" />
        </div>
        <div class="form-group">
            <label for="texture_mean">Texture Mean:</label>
            <input type="text" id="texture_mean" name="texture_mean" placeholder="Texture Mean"/>
        </div>
        <div class="form-group">
          <label for="perimeter_mean">Perimeter Mean:</label>
          <input type="text" name="perimeter_mean" placeholder="Perimeter Mean"  />
        </div>
        <div class="form-group">
          <label for="area_mean">Area Mean:</label>
          <input type="text" name="area_mean" placeholder="Area Mean" />
        </div>
        <div class="form-group">
          <label for="smoothness_mean">Smoothness Mean:</label>
          <input type="text" name="smoothness_mean" placeholder="Smoothness Mean" />
        </div>
        <div class="form-group">
          <label for="compactness_mean">Compactness Mean:</label>
          <input type="text" name="compactness_mean" placeholder="Compactness Mean"  />
        </div>
        <div class="form-group">
          <label for="concavity_mean">Concavity Mean:</label>
          <input type="text" name="concavity_mean" placeholder="Concavity Mean"/>
        </div>
        <div class="form-group">
          <label for="concave_points_mean">Concave Points Mean:</label>
          <input type="text" name="concave_points_mean" placeholder="Concave Points Mean"  />
        </div>
        <div class="form-group">
          <label for="symmetry_mean">Symmetry Mean:</label>
          <input type="text" name="symmetry_mean" placeholder="Symmetry Mean"  />
        </div>
        <div class="form-group">
          <label for="fractal_dimension_mean">Fractal Dimension Mean:</label>
          <input type="text" name="fractal_dimension_mean" placeholder="Fractal Dimension Mean"  />
        </div>
        <div class="form-group">
          <label for="radius_se">Radius SE:</label>
          <input type="text" name="radius_se" placeholder="Radius SE"/>
        </div>
        <div class="form-group">
          <label for="texture_se">Texture SE:</label>
          <input type="text" name="texture_se" placeholder="Texture SE" />
        </div>
        <div class="form-group">
          <label for="perimeter_se">Perimeter SE :</label>
          <input type="text" name="perimeter_se" placeholder="Perimeter SE" />
        </div>
        <div class="form-group">
          <label for="area_se">Area SE:</label>
          <input type="text" name="area_se" placeholder="Area SE"/>
        </div>
        <div class="form-group">
          <label for="smoothness_se">Smoothness SE:</label>
          <input type="text" name="smoothness_se" placeholder="Smoothness SE" />
        </div>
        <div class="form-group">
          <label for="compactness_se">Compactness SE:</label>
          <input type="text" name="compactness_se" placeholder="Compactness SE" />
        </div>
        <div class="form-group">
          <label for="concavity_se">Concavity SE:</label>
          <input type="text" name="concavity_se" placeholder="Concavity SE" />
        </div>
        <div class="form-group">
          <label for="concave_points_se">Concave Points SE:</label>
          <input type="text" name="concave_points_se" placeholder="Concave Points SE" />
        </div>
        <div class="form-group">
          <label for="symmetry_se">Symmetry SE:</label>
          <input type="text" name="symmetry_se" placeholder="Symmetry SE"/>
        </div>
        <div class="form-group">
          <label for="fractal_dimension_se">Fractal Dimension SE:</label>
          <input type="text" name="fractal_dimension_se" placeholder="Fractal Dimension SE" />
        </div>
        <div class="form-group">
          <label for="radius_worst">Radius Worst :</label>
          <input type="text" name="radius_worst" placeholder="Radius Worst"/>
        </div>
        <div class="form-group">
          <label for="texture_worst">Texture Worst:</label>
          <input type="text" name="texture_worst" placeholder="Texture Worst" />
        </div>
        <div class="form-group">
          <label for="perimeter_worst">Perimeter Worst :</label>
          <input type="text" name="perimeter_worst" placeholder="Perimeter Worst"  />
        </div>
        <div class="form-group">
          <label for="area_worst">Area Worst:</label>
          <input type="text" name="area_worst" placeholder="Area Worst" />
        </div>
        <div class="form-group">
          <label for="smoothness_worst">Smoothness Worst:</label>
          <input type="text" name="smoothness_worst" placeholder="Smoothness Worst" />
        </div>
        <div class="form-group">
          <label for="compactness_worst">Compactness Worst:</label>
          <input type="text" name="compactness_worst" placeholder="Compactness Worst" />
        </div>
        <div class="form-group">
          <label for="concavity_worst">Concavity Worst:</label>
          <input type="text" name="concavity_worst" placeholder="Concavity Worst" />
        </div>
        <div class="form-group">
          <label for="concave_points_worst">Concave Points Worst:</label>
          <input type="text" name="concave_points_worst" placeholder="Concave Points Worst"/>
        </div>
        <div class="form-group">
          <label for="symmetry_worst">Symmetry Worst:</label>
          <input type="text" name="symmetry_worst" placeholder="Symmetry Worst" />
        </div>
        <div class="form-group">
          <label for="fractal_dimension_worst">Fractal Dimension Worst:</label>
          <input type="text" name="fractal_dimension_worst" placeholder="Fractal Dimension Worst" />
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>


    <div id="prediction-text"  class="prediction-text">
        {{ prediction_text }}
    </div>
    <div id="classification-report" style="display: none;">
      <h2>Classification Report</h2>
      <pre id="classification-report-text" >
precision    recall  f1-score   support

0       0.96      0.97      0.96        67
1       0.96      0.94      0.95        47

accuracy                           0.96       114
macro avg      0.96      0.95      0.95       114
weighted avg   0.96      0.96      0.96       114
      </pre>
  </div>
</body>
<footer>
  <div class="footer-container">
    <div class="footer-section">
        <h4>About the Project</h4>
        <p>
            This project, "AI in Healthcare", focuses on using machine learning to predict breast cancer. 
            Developed as part of our final year project .
        </p>
    </div>
    <div class="footer-section">
        <h4>Meet the Team</h4>
        <p>
            <strong>Ismail BRTIT</strong> <br>
            <strong>Souhail El Bouazzaoui</strong> 
        </p>
    </div>
    <div class="footer-section">
        <h4>Contact Us</h4>
        <p>
            Email: <a href="mailto:contact@example.com">IA_Health@gmail.com</a><br>
            Phone: +123-456-7890
        </p>
    </div>
    <div class="footer-section">
        <h4>Our GitHub</h4>
        <p>
            <a href="https://github.com/IsmailBrtit" target="_blank">Ismail BRTIT</a><br>
            <a href="https://github.com/SWAHEL" target="_blank">Souhail El Bouazzaoui</a>
        </p>
    </div>
    <div class="footer-section">
        <h4>Our School</h4>
        <p>
            E.N.S.I.A.S.<br>
            Computer Science Program
        </p>
    </div>
</div>
<div class="footer-bottom">
    <p>&copy; 2024 AI in Healthcare. All rights reserved.</p>
</div>
</footer>
</html>